@import 'colors';
@import 'helpers';
@import url('https://fonts.googleapis.com/css?family=Kalam:700');

// .create-room-container {
//     margin-top: 25px;
//     margin-left: 10px;
//     padding: 20px;
//     background-color: $grey;
// }

article {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

article.combatants {
  background-color: white;
}

nav {
  box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
}

div.notification.is-danger {
  padding: 5px;
  margin: 0px;
}

#site-body p.title {
  margin-bottom: 10px;
}

#logo {
    font-family: 'Kalam', cursive;
    font-size: 40px;
    padding: 5px 0px 0px 10px;
}

#site-body {
  height: 800px;
  margin: 10px;
}

#send-invites {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

#fight-button {
  background: $yellow;
}

#arena-lable {
  text-align: center;
}

.tile.is-child.notification.combatants {
  margin-bottom: 10px !important;
}

.create-room-container {
  background-color: $grey;
}

.google-button-container {
  text-align: center;
}

.modal-card-foot .button:not(:last-child) {
  margin: auto;
  margin-right: 10px;
}

.section.login-error {
  background-color: $red;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.subtitle {
  color: white;
}

.search-result {
  border-bottom: 3px solid white;
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
}

.combatant {
  border-bottom: 3px solid $blue;
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
}

.user-search-button {
  float: right;
}

.search-result p.user-search-email {
  margin-bottom: 0px;
}



/* GOOGLE LOGIN BUTTON */
.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  .loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: $red;
  }
  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: $red;
    cursor: pointer
  }
  /*END GOOGLE LOGIN BUTTON*/